<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="../../css/eventsStyles.css">
</head>

<body>
    <h1>ONG Empuje Comunitario</h1>
    <nav>
        <a href="/events">Ver eventos</a>
        <% if(roles && (roles.includes("PRESIDENTE") || roles.includes("COORDINADOR"))){ %>
            <a href="/events/create">Crear evento</a>
        <% } %>
        <a href="/home">Volver a inicio</a>
        <a href="#" onclick="logout(); return false;">Cerrar sesión</a>
    </nav>

    <section>

        <div class="container">
            <h1>Eventos</h1>

            <table id="eventsList">
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Fecha</th>
                    <th>Finalizado</th>
                    <th>Opciones</th>
                </tr>

                <% events.forEach(event => { %>
                    <tr>
                        <td><%= event.name %></td> 
                        <td><%= event.description %></td>
                        <td>
                            <% 
                                <!-- formateo la fecha a gmt -3 -->
                                const timestamp = event.date.seconds * 1000;
                                const date = new Date(timestamp + 3 * 60 * 60 * 1000);
                            %>
                            
                            <%= date.toLocaleDateString('es-AR') %>
                            <br>
                            <%= 
                                date.toLocaleTimeString('es-AR', {
                                    hour: '2-digit',
                                    minute: '2-digit',
                                    hour12: false
                                }) 
                            %>
                        </td>
                        <td><%= event.is_completed %></td> 
                        <td>
                            <!-- se valida el rol del usuario -->
                            <% if(roles && (roles.includes("PRESIDENTE") || roles.includes("COORDINADOR"))){ %>
                                <button onclick="modifyEvent(<%= event.id %>)">modificar</button>
                                <button onclick="deleteEvent(<%= event.id %>)" <% if(event.is_completed){ %>disabled<% } %> >eliminar</button>
                            <% } %>
                            
                            <% if(event.joined){ %>
                                <button onclick="leaveEvent(<%= event.id %>)">abandonar</button>
                            <%} else {%>
                                <button onclick="joinEvent(<%= event.id %>)">participar</button>
                            <% } %>
                            <!-- falta registrar donaciones de eventos pasados
                                if(event.is_completed){
                                    <button onclick="registerDonation(<%= event.id %>)">registrar donaciones</button>
                                }
                            -->
                        </td>
                    </tr>
                <% }) %>
            </table>

        </div>
    </section>
    <script src="../../js/events/events.js"></script>
    <script src="../js/user/logout.js"></script>
</body>

</html>