<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="../../css/eventsStyles.css">
</head>

<body>
    <nav>
        <a href="/events">ver eventos</a>
        <a href="/events/create">crear evento</a>
        <a href="/home">volver a inicio</a>
        <a href="/">cerrar sesión</a>
    </nav>

    <section>

        <div class="container">
            <h1>Eventos</h1>

            <table id="eventsList">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Fecha</th>
                    <th>Finalizado</th>
                    <th>Opciones</th>
                </tr>

                <% events.forEach(event => { %>
                    <tr>
                        <td><%= event.id %></td>
                        <td><%= event.name %></td> 
                        <td><%= event.description %></td>
                        <td>
                            <%= new Date(event.date.seconds * 1000).toLocaleDateString() %>
                            <br>
                            <%= new Date(event.date.seconds * 1000).toLocaleTimeString() %>
                        </td>
                        <td><%= event.is_completed %></td> 
                        <td>
                            <!-- falta validar el rol del usuario
                            if(user.role == PRESIDENTE || user.role == COORDINADOR){ -->
                                <button onclick="modifyEvent(<%= event.id %>)">modificar</button>
                                <button onclick="deleteEvent(<%= event.id %>)" <% if(event.is_completed){ %>disabled<% } %> >eliminar</button>
                            <!-- } -->
                            <% if(event.joined){ %>
                                <!-- falta extraer el id del usuario logueado -->
                                <button onclick="leaveEvent(<%= event.id %>, 1)">abandonar</button>
                            <%} else {%>
                                <button onclick="joinEvent(<%= event.id %>, 1)">participar</button>
                            <% } %>
                        </td>
                    </tr>
                <% }) %>
            </table>

        </div>
    </section>

    <script src="../../js/events/events.js"></script>
</body>

</html>